* {
  padding: 0;
  margin: 0;
}

img {
  padding: 10px;
  padding-left: 30px;
}

<<<<<<< HEAD
main {
  display: flex;
=======
main, form{
    display: flex;
>>>>>>> fcf0cdbeae490c83d786c5344d98c4381490fd77
    
}

.header {
  display: flex;
  background-color: rgb(50, 167, 145);
  justify-content: space-between; /* vai funcionar quando o item 3 estiver feito*/
}

#trybewarts-header-title {
  display: flex;
  justify-content: space-between;
  color: white;
  align-items: center;
    
    
  display: flex;
  background-color: rgb(50, 167, 145);
}

.trybewarts-login {
  display: flex;
}

<<<<<<< HEAD
#trybewarts-forms-logo {
  height: 500px;
}
=======
#evaluation-form {
  display: flex;
  flex-basis: 675px;
  flex-direction: column;
  
}
>>>>>>> fcf0cdbeae490c83d786c5344d98c4381490fd77
